.signIn {
    text-align: center;
    background-color: #07ac7e;
    margin-top:20px;
    padding: 15px 50px;
    border-radius: 25px;
    outline: none;
    border:1px solid white;
    color:white;
    font-weight: bold;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signUp {
    text-align: center;
    background-color: #07ac7e;
    margin-top:20px;
    padding: 15px 50px;
    border-radius: 25px;
    outline: none;
    border:none;
    color:white;
    font-weight: bold;
    cursor: pointer;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.submitButton {
    text-align: center;
}